table {
  table-layout: fixed;
  width: 100%;
}

thead th:nth-child(1) {
  width: 16%;
}

thead th:nth-child(2) {
  width: 28%;
}

thead th:nth-child(3) {
  width: 28%;
}

thead th:nth-child(4) {
  width: 28%;
}

th, td {
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}

th {
  background-color: #5ea9bc;
  color: #F0F1F8;
  font-weight: bold;
}

td.time {
  color: whitesmoke;
  font-style: italic;
  background-color: #5ea9bc;
}

td.break {background-color: #fdf9e0;}
td.alt-pres {background-color: #ddc3e0;}
td.pgr-pres {background-color: #ffddd3;}
td.social {background-color: #b2e3d0;}
td.careers {background-color: #bad5f0;}
